# Cloudflare R2 API認証情報
# R2ダッシュボードから取得したアクセスキーを設定してください
# https://dash.cloudflare.com/ → R2 → Manage R2 API Tokens

R2_TOKEN=<hoge>
R2_ACCESS_KEY_ID=<hoge>
R2_SECRET_ACCESS_KEY=<hoge>
R2_ENDPOINT=<hoge>

